<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-EXzWHMrNxpzyUY8jb3q8TQzxFo4hhBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>186464570202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appApk.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tennisapp-87e2e</string>
	<key>STORAGE_BUCKET</key>
	<string>tennisapp-87e2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186464570202:ios:f110afdfd8a6ff480ec163</string>
</dict>
</plist>